{% extends 'base.html' %}

{% block content %}


<div class="text-center pt-5">
 <form class="form-signin col-6 offset-3" method="post">
	{% if g.message %}
		<div class="alert alert-{{g.messageColor}}" role="alert">
			{{ g.message }}
		</div>
	{% endif %}

  <h1 class="h3 mb-3 font-weight-normal">
		{% block title %}
			{{configuration.dictionary['Create Client']}}
		{% endblock %}
	</h1>

  <label for="name" class="sr-only">{{configuration.dictionary['Name']}}</label>
  <input type="text" name="name" id="name" class="form-control my-2" placeholder="{{configuration.dictionary['Name']}}" autofocus required>

  <label for="contact_phone" class="sr-only">{{configuration.dictionary['Contact Phone']}}</label>
  <input type="contact_phone" name="contact_phone" id="contact_phone" class="form-control my-2" placeholder="{{configuration.dictionary['Contact Phone']}}" required>

  <label for="has_credit" class="sr-only">{{configuration.dictionary['Has Credit']}}</label>
	<select name="has_credit" id="has_credit" class="form-select my-2 col-12" aria-label="Default select example">
		<option selected>{{configuration.dictionary['Has Credit']}}?</option>
		<option value="0">{{configuration.dictionary['No']}}</option>
		<option value="1">{{configuration.dictionary['Yes']}}</option>
	</select>


  <button class="btn btn-lg btn-primary btn-block" type="submit">{{configuration.dictionary['Create']}}</button>
	<a href="{{ url_for('clients.search') }}" class="btn btn-lg btn-danger btn-block">
		{{configuration.dictionary['Back']}}
  </a>
</form>
</div>
{% endblock %}

