
{% extends 'base.html' %}
{% block content %}
<div class="card-deck">
  <div class="col-2 card">
    <h1 class="text-center mt-4">
      {% block title %}
      {{configuration.dictionary['Search Credit']}}
      {% endblock %}
    </h1>
    <form class="form" method="post">
      <label for="id" class="m-2">id</label>
      <input name="id" type="text" class="form-control m-2" id="username">

      <label for="name" class="m-2">{{configuration.dictionary['Date']}}</label>
      <input name="date" type="date" class="form-control m-2" id="date">

      <button type="submit" class="btn btn-primary m-2">{{configuration.dictionary['Submit']}}</button>
    </form>


  </div>
  <div class="card text-center col">
    <table class="table table-hover mt-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">{{configuration.dictionary['User']}}</th>
          <th scope="col">{{configuration.dictionary['Client']}}</th>
          <th scope="col">{{configuration.dictionary['Total Price']}}</th>
          <th scope="col">{{configuration.dictionary['Payed']}}</th>
          <th scope="col">{{configuration.dictionary['Payment Method']}}</th>
          <th scope="col">{{configuration.dictionary['Date']}}</th>
          <th scope="col">{{configuration.dictionary['Credit Time']}}</th>
          <th scope="col">{{configuration.dictionary['Remaining Time']}}</th>
          <th scope="col">{{configuration.dictionary['Pay']}}</th>
        </tr>
      </thead>
      <tbody>

        {% for credit in credits%}
        <tr>
          <th scope="row">{{ credit.id }}</th>
          <td>{{ credit.username }}</td>
          <td>{{ credit.name }}</td>
          <td>${{ credit.total }}</td>
          <td>${{ credit.payed }}</td>
          <td>{{ credit[-1]}}</td>
          <td>{{ credit.date }}</td>
          <td>{{ credit.credit_time}}</td>
          <td>{{ Credit.get_remaining_time(credit) }}</td>
          <td>
            <a href="{{ url_for('credits.pay', id=credit.id) }}" type="button" role="button" class="btn btn-info" aria-pressed="true">
              <i class="fa fa-edit"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
