{% extends 'base.html' %}
{% block content %}
<div class="card-deck">
  <div class="col-4 card">
    <h1 class="text-center mt-4">
      {% block title %}
      {{configuration.dictionary['Search Sale']}}
      {% endblock %}
    </h1>
    <form class="form" method="post">
      <label for="id" class="m-2">id</label>
      <input name="id" type="text" class="form-control m-2" id="username">

      <label for="name" class="m-2">{{configuration.dictionary['Date']}}</label>
      <input name="date" type="date" class="form-control m-2" id="date">

      <button type="submit" class="btn btn-primary m-2">{{configuration.dictionary['Submit']}}</button>
    </form>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">{{configuration.dictionary['Field']}}</th>
          <th scope="col">{{configuration.dictionary['Value']}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{configuration.dictionary['Date']}}</th>
          <td>{{ salesInformation['date'] }}</td>
        </tr>
        <tr>
          <th scope="row">{{configuration.dictionary['Total Sales']}}</th>
          <td>${{ salesInformation['total sales'] }}</td>
        </tr>
        <tr>
          <th scope="row">{{configuration.dictionary['Total Sale']}}</th>
          <td>{{ salesInformation['total'] }}</td>
        </tr>
        <tr>
          <th scope="row">{{configuration.dictionary['Cash Sales']}}</th>
          <td>{{ salesInformation['cash sales'] }}</td>
        </tr>
        <tr>
          <th scope="row">{{configuration.dictionary['Total Cash Sales']}}</th>
          <td>${{ salesInformation['total cash sales'] }}</td>
        </tr>
        <tr>
          <th scope="row">{{configuration.dictionary['Credit Card Sales']}}</th>
          <td>{{ salesInformation['credit card sales'] }}</td>
        </tr>
        <tr>
          <th scope="row">{{configuration.dictionary['Total Credit Card Sales']}}</th>
          <td>${{ salesInformation['total credit card sales'] }}</td>
        </tr>
      </tbody>
    </table>
    <a href="../../static/reports/sale_report.pdf" class="btn btn-lg btn-info btn-block my-4">
      {{configuration.dictionary['Report']}}
    </a>

  </div>
  <div class="card text-center col">
    <table class="table table-hover mt-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">{{configuration.dictionary['User']}}</th>
          <th scope="col">{{configuration.dictionary['Client']}}</th>
          <th scope="col">{{configuration.dictionary['Total Price']}}</th>
          <th scope="col">{{configuration.dictionary['Payment Method']}}</th>
          <th scope="col">{{configuration.dictionary['Date']}}</th>
          <th scope="col">{{configuration.dictionary['Ticket']}}</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in sales%}
        <tr>
          <th scope="row">{{ sale.id }}</th>
          <td>{{ sale.username }}</td>
          <td>{{ sale.name }}</td>
          <td>${{ sale.total }}</td>
          <td>{{ sale[-1]}}</td>
          <td>{{ sale.date }}</td>
          <td>
            <a href="../../static/tickets/ticket-{{sale.id}}.pdf" type="button" role="button" class="btn btn-info" aria-pressed="true">
              <i class="fa fa-edit"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
