

{% extends 'base.html' %}
{% block content %}
<h1 class="text-center my-4">{% block title %}Checkout{% endblock %}</h1>
<div class="container col-6">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">{{configuration.dictionary['Field']}}</th>
        <th scope="col">{{configuration.dictionary['Value']}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{configuration.dictionary['Total Price']}}</th>
        <td>${{ sale.total}} </td>
      </tr>
      <tr>
        <th scope="row">{{configuration.dictionary['Total Articles']}}</th>
        <td>{{ sale.totalArticles }} </td>
      </tr>
      <tr>
        <th scope="row">{{configuration.dictionary['Payment Method']}}</th>
        <td>{{ sale.payMethod }} </td>
      </tr>
      <tr>
        <th scope="row">{{configuration.dictionary['Operation Type']}}</th>
        <td>{{ sale.operationType }} </td>
      </tr>
      {% if sale.payMethod == 'Cash'%}
      <tr>
        <th scope="row">{{configuration.dictionary['Cash Recived']}}</th>
        <td>${{ sale.recivedCash }} </td>
      </tr>
      <tr>
        <th scope="row">{{configuration.dictionary['Change']}}</th>
        <td>${{ sale.change}} </td>
      </tr>
      {% endif %}
      <tr>
        <th scope="row">{{configuration.dictionary['Client']}}</th>
        <td>{{ sale.client }} </td>
      </tr>
      <tr>
        <th scope="row">{{configuration.dictionary['User']}}</th>
        <td>{{ sale.user }} </td>
      </tr>
      <tr>
        <th scope="row">{{configuration.dictionary['Branch']}}</th>
        {% if sale.branchId == 0 %}
        <td>Chihuahua</td>
        {% else %}
        <td>Madera</td>
        {% endif %}

      </tr>
    </tbody>
  </table>
  <a href="../../static/tickets/ticket-{{sale.id}}.pdf" class="btn btn-info col">
    {{configuration.dictionary['Download Ticket']}}
  </a>
</div>

{% endblock %}
