{% extends 'base.html' %}
{% block content %}
<h1 class="text-center my-4">{% block title %}Shoping Cart{% endblock %}</h1>

<div class="text-center container-fluid">
  <div class="col mb-4">
    <form class="form-signin col-6 offset-3" method="post" action="{{url_for('cart.checkout')}}">
      {% if g.message %}
      <div class="alert alert-{{g.messageColor}}" role="alert">
        {{ g.message }}
      </div>
      {% endif %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Field</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Total Price</th>
            <td>
              <label for="total" ></label>
              <input name="total" class="form-control col-6 align-right" type="text" value="{{ cart.get_cart_total_price() }}" readonly>
            </td>
          </tr>
          <tr>
            <th scope="row">Total Articles</th>
            <td>
              <label for="total_articles" ></label>
              <input name="total_articles" class="form-control col-6 align-right" type="text" value="{{ cart.get_cart_total_items() }}" readonly>
            </td>
          </tr>
          <tr>
            <th scope="row">Payment Method</th>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="PayMethodId" id="PayMethod1" value="0" checked>
                <label class="form-check-label" for="PayMethod1">
                  Cash
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="PayMethod2" id="PayMethod1" value="1" >
                <label class="form-check-label" for="PayMethod2">
                  Card
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Cash Recived</th>
            <td>
              <input type="number" name="recivedCash" id="recivedCash" class="" placeholder="Recived Cash">
            </td>
          </tr>

          <tr>
            <th scope="row">Client</th>
            <td>

              <select name="client_id" id="client" class="form-select col-12" aria-label="Default select example">
                <option value="" selected>Select a Client</option>
                {% for client in clients %}
                <option value="{{client.id}}">{{client.name}}</option>
                {% endfor %}
              </select>

            </td>
          </tr>
          <tr>
            <th scope="row">Employee</th>
            <td>
              <label for="user_id"></label>
              <input name="user_id" class="invisible" type="text" value="{{ g.user['id'] }}" readonly>
              <input name="" class="form-control col-6 align-right" type="text" placeholder="{{ g.user['username'] }}" readonly>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Checkout</button>
    </form>
  </div>
  <div class="card-deck">
    {% for cart_item in cart_items %}
    <div class="col-3 mb-4">
      <div class="card" >
        <img class="card-img-top" src="../../static/img/{{ cart_item.SKU }}.jpg" alt="{{ cart_item.name }}" >
        <div class="card-body">
          <h5 class="card-title">Name: {{ cart_item.name }}</h5>
          <p class="card-text">Price: {{ cart_item.price }}</p>
          <a href="{{ url_for('cart.delete', id=cart_item.id) }}" class="btn btn-lg btn-danger">
            Delete
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="container my-5">
  </div>
</div>
{% endblock %}
