
{% extends 'base.html' %}
{% block content %}
<h1 class="text-center my-4">{% block title %}Shoping Cart{% endblock %}</h1>


<div class="text-center container-fluid">
		<div class="col mb-4">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Field</th>
							<th scope="col">Value</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<th scope="row">Id</th>
							</tr>
					</tbody>
				</table>
		</div>
  <div class="card-deck">
    {% for cart_item in cart_items %}
      <div class="col-3 mb-4">
        <div class="card" >
          <img class="card-img-top" src="../../static/img/{{ cart_item.SKU }}.jpg" alt="{{ cart_item.name }}" >
          <div class="card-body">
            <h5 class="card-title">Name: {{ cart_item.name }}</h5>
            <p class="card-text">Price: {{ cart_item.price }}</p>
            <a href="{{ url_for('cart.delete', id=cart_item.id) }}" class="btn btn-lg btn-danger">
              Delete
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
