
{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mt-4">
  {% block title %}
    {{configuration.dictionary['Search Category']}}
  {% endblock %}
</h1>
<div class="container-fluid">
  <form class="form-inline" method="post">
    <label for="id" class="m-2">id</label>
    <input name="id" type="text" class="form-control m-2" id="id">

    <label for="name" class="m-2">{{configuration.dictionary['Name']}}</label>
    <input name="name" type="text" class="form-control m-2" id="name">

    <button type="submit" class="btn btn-primary m-2">{{configuration.dictionary['Submit']}}</button>
  </form>
</div>

<div class="text-center container-fluid">
	<table class="table mt-4">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">{{configuration.dictionary['Name']}}</th>
      <th scope="col">{{configuration.dictionary['Actions']}}</th>
    </tr>
  </thead>
  <tbody>
		{% for  category_id, category in categories.items() %}
			<tr>
				<th scope="row">{{ category_id }}</th>
				<td>{{ category}}</td>

        <td>
          <a href="{{ url_for('categories.delete', id=category_id) }}" type="button" role="button" class="btn btn-danger" aria-pressed="true">
            <i class="fa fa-trash"></i>
          </a>

          <a href="{{ url_for('categories.update', id=category_id) }}" type="button" role="button" class="btn btn-info" aria-pressed="true">
            <i class="fa fa-edit"></i>
          </a>
        </td>
			</tr>
		{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
