{% extends 'base.html' %}

{% block content %}


<div class="text-center pt-5">
 <form class="form-signin col-6 offset-3" method="post">
	{% if g.message %}
		<div class="alert alert-{{g.message_color}}" role="alert">
			{{ g.message }}
		</div>
	{% endif %}

  <h1 class="h3 mb-3 font-weight-normal">
		{% block title %}
			{{configuration.dictionary['Create User']}}		
		{% endblock %}
	</h1>

  <label for="username" class="sr-only">{{configuration.dictionary['Name']}}</label>
  <input type="text" name="username" id="username" class="form-control my-2" placeholder="{{configuration.dictionary['Name']}}" autofocus required>

  <label for="password" class="sr-only">{{configuration.dictionary['Password']}}</label>
  <input type="password" name="password" id="password" class="form-control my-2" placeholder="{{configuration.dictionary['Password']}}" required>

  <label for="is_super" class="sr-only">{{configuration.dictionary['Is Super']}}?</label>
	<select name="is_super" id="is_super" class="form-select my-2 col-12" aria-label="Default select example">
		<option selected>{{configuration.dictionary['Is Super']}}?</option>
		<option value="0">{{configuration.dictionary['No']}}</option>
		<option value="1">{{configuration.dictionary['Yes']}}</option>
	</select>

  <label for="can_discount" class="sr-only">{{configuration.dictionary['Can Discount']}}?</label>
	<select name="can_discount" id="can_discount" class="form-select my-2 col-12" aria-label="Default select example">
		<option selected>{{configuration.dictionary['Can Discount']}}?</option>
		<option value="0">{{configuration.dictionary['No']}}</option>
		<option value="1">{{configuration.dictionary['Yes']}}</option>
	</select>

  <label for="branch_id" class="sr-only">{{configuration.dictionary['Class']}}?</label>
	<select name="branch_id" id="branch_id" class="form-select my-2 col-12" aria-label="Default select example">
		<option selected>{{configuration.dictionary['Branch']}}</option>
		<option value="0">Chihuahua</option>
		<option value="1">Madera</option>
	</select>

  <button class="btn btn-lg btn-primary btn-block" type="submit">{{configuration.dictionary['Create']}}</button>
	<a href="{{ url_for('users.search') }}" class="btn btn-lg btn-danger btn-block">
		{{configuration.dictionary['Back']}}
  </a>
</form>
</div>
{% endblock %}

