{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mt-4">{% block title %}Search User{% endblock %}</h1>
<div class="container-fluid">
  <form class="form-inline" method="post">
    <label for="id" class="m-2">id</label>
    <input name="id" type="text" class="form-control m-2" id="username">

    <label for="username" class="m-2">Name</label>
    <input name="username" type="text" class="form-control m-2" id="username">

    <label for="branch_id" class="m-2">Branch</label>
    <select name="branch_id" id="branch" class="form-select m-2" aria-label="Default select example">
      <option value="" selected>Select a branch</option>
      <option value="0">Chihuahua</option>
      <option value="1">Madera</option>
    </select>

    <button type="submit" class="btn btn-primary m-2">Submit</button>
  </form>
</div>

<div class="text-center container-fluid">
	<table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Branch</th>
      <th scope="col">Is Super</th>
      <th scope="col">Can_discount</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
		{% for user in users %}
			<tr>
				<th scope="row">{{ user.id }}</th>
				<td>{{ user.username}}</td>
				<td>{{ user.branch_name }}</td>

        {% if user.can_discount%}
          <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}

        {% if user.is_super%}
          <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}

        <td>
          <a type="button" role="button" class="btn btn-danger" aria-pressed="true">
            <i class="fa fa-trash"></i>
          </a>

          <a type="button" role="button" class="btn btn-info" aria-pressed="true">
            <i class="fa fa-edit"></i>
          </a>
        </td>
			</tr>
		{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
